{% extends "layout.html" %}
{% block content %}
<div class="signup-box">
    <form method="post" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
            <input type="text" class="form-control" name="username" id="username" placeholder="Id"
                   value="{{ form.username.value|default_if_none:'' }}">
            <input type="password" class="form-control" name="password1" id="password1" placeholder="비밀번호"
                   value="{{ form.password1.value|default_if_none:'' }}">
            <input type="password" class="form-control" name="password2" id="password2" placeholder="비밀번호 확인"
                   value="{{ form.password2.value|default_if_none:'' }}">
            <input type="text" class="form-control" name="email" id="email" placeholder="이메일"
                   value="{{ form.email.value|default_if_none:'' }}">
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
{% endblock %}